<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Vistas
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="VISTA_FACTURAS_PEDIDO_USUARIO.html" target="ObjectDetailsFrame">VISTA_FACTURAS_PEDIDO_USUARIO</a>
<a href ="VISTA_INVENTARIO_PRODUCTO.html" target="ObjectDetailsFrame">VISTA_INVENTARIO_PRODUCTO</a>
<a href ="VISTA_PEDIDOS_POR_FECHA.html" target="ObjectDetailsFrame">VISTA_PEDIDOS_POR_FECHA</a>
<a href ="VISTA_PEDIDOS_USUARIO_PRODUCTO.html" target="ObjectDetailsFrame">VISTA_PEDIDOS_USUARIO_PRODUCTO</a>
<a href ="VISTA_PRODUCTOS_BAJO_STOCK.html" target="ObjectDetailsFrame">VISTA_PRODUCTOS_BAJO_STOCK</a>
<a href ="VISTA_PRODUCTOS_CATEGORIA.html" target="ObjectDetailsFrame">VISTA_PRODUCTOS_CATEGORIA</a>
<a href ="VISTA_ROLES_DESCRIPCION.html" target="ObjectDetailsFrame">VISTA_ROLES_DESCRIPCION</a>
<a href ="VISTA_ROPA_PRODUCTO_TALLA_COLOR.html" target="ObjectDetailsFrame">VISTA_ROPA_PRODUCTO_TALLA_COLOR</a>
<a href ="VISTA_USUARIOS_ROL.html" target="ObjectDetailsFrame">VISTA_USUARIOS_ROL</a>
<a href ="VISTA_VENTAS_TOTALES_USUARIO.html" target="ObjectDetailsFrame">VISTA_VENTAS_TOTALES_USUARIO</a>

</div></body> </html>